name: Run Preprocessing Automatically

# Trigger otomatis saat push ke main
on:
  push:
    branches:
      - main

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - uses: actions/checkout@v4

      # Setup Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          
      - name: Install dependencies
        run: pip install pandas numpy scikit-learn nltk gensim

      - name: Run preprocessing script
        run: python Preprocessing/automate_Advent-Road-Marly.py

      # Upload hasil preprocess sebagai artifact
      - name: Upload processed dataset
        uses: actions/upload-artifact@v4
        with:
          name: IMDB_preprocessing
          path: "Preprocessing/IMDB_preprocessing.csv"
